* {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  background-color: #455A64;
  color: #F5F5F5;
  display: flex;
  font-family: 'Roboto', sans-serif;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 240px;
  height: auto;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 5px 5px 10px #3b4d55,
             -5px -5px 10px #4f6873;
}

img {
  width: 52px;
  height: 52px;
}

h1, h2, h3, label, button {
  margin: 12px auto;
}

span {
  font-size: 12px;
}

label {
  text-align: center;
  display: block;
}

input {
  width: 80px;
  background: linear-gradient(145deg, #3e515a, #4a606b);
  box-shadow: 5px 5px 10px #41555e,
  -5px -5px 10px #495f6a;
  border: none;
  border-radius: 12px;
  color: #F5F5F5;
  height: 52px;
  font-size: 32px;
  padding: 8px;
  text-align: center;
}

#againButton {
  position: absolute;
  background-color: transparent;
  box-shadow: none;
  width: 52px;
  height: 52px;
  padding: 0;
}

#again {
  width: 24px;
  height: 24px;
}

button {
  background-color: #03A9F4;
  box-shadow: 5px 5px 10px #41555e,
  -5px -5px 10px #495f6a;
  color: #F5F5F5;
  font-weight: bold;
  font-size: 24px;
  padding: 12px 12px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

button + button {
  margin-left: 8px;
}

#reset {
  background-color: #D32F2F;
}

footer {
  position: absolute;
  bottom: 0;
  font-size: 10px;
}